[title] {
    position: relative;
}

[title]::after {
    content: attr(title);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: red;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-style: .7em;
    font-weight: 900;
    top: -16px;
    position: absolute;
    right: -10px;
}

header {
    background-color: #FFE44D;
}